.banner {
    position: relative;
    background: #070F19BF;
    height: 70vh;
}

.banner__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.banner__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

}

.banner__desc {
    max-width: 600px;
    width: 100%;
}

.banner__desc-h {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    color: var(--white);
    margin-bottom: 30px;

}

.banner__desc-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.banner__btns {
    display: flex;
    gap: 30px;

}

.banner__btns-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 45px;
    width: 166px;
    border-radius: 8px;
    background: #F18128;
    transition: 0.3s;
}

.banner__btns-btn {
    display: flex;
    justify-content: center ;
}







@media screen and (max-width:768) {
    .banner__desc-h {
        font-size: 38px;
    }
    .banner{
        height: 65 vh;
    }
}

@media screen and (max-width:420) {
    .banner__desc-h {
        font-size: 28px;
    }
}